

body {
  background-color: seagreen;
  margin: 0px;
  padding: 0px;
}

.navbar {

}

.navbar_grid {
  display: grid;
  background-color: rgb(15, 165, 175);
  padding: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.navbar_logo_container {
  display: grid;
}

.navbar_logo {
  justify-self: start;
  align-self: center;

}

.navbar_right {
  align-self: center;
  justify-self: end;
}

.journal_list {
  margin: 10px;
}

.memory_show_container {
  border: 2px dotted black;
}

.memory_photo {
  width: 300px;
  height: auto;
}