/* == Base == */


body {
  background-color: #F8F0DF;
  margin: 0px;
  padding: 0px;
  font-family: 'Gentium Book Basic', serif;
}

body select {
  font-family: 'Gentium Book Basic', serif;
}

.content {
  padding: 10px;
  font-family: 'Gentium Book Basic', serif;
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
  color: #222;
}

/* = Navbar = */
.navbar_body {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_container {
  /* border-bottom: solid 1px grey; */
  padding: 10px;
  background-color: #81c2c5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gentium Book Basic', serif;
  height: auto;

}

.nav_container_left {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;

}


.logo_link {
  text-decoration: none;
}

.logo_img {
  font-family: 'Gentium Book Basic', serif;
  text-decoration: none;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}



.nav_left_link_container {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}

.nav_left_link_container_about {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_left_link_container_about:hover {
  transform: scale(1.1);
}

.nav_left_link_container_public {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_left_link_container_public:hover {
  transform: scale(1.1);
}

.nav_container_right {
  display: flex;
}

.nav_right_link_container {
  padding: 10px;
  margin: 5px;
  display: flex;
  border-radius: 10px;
  gap: 20px;
}

.nav_right_link_container_album_list {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-left: -25px;
  transition: all .2s ease-in-out;
}

.nav_right_link_container_album_list:hover {
  transform: scale(1.1);
}

.nav_right_link_container_journal_list {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_right_link_container_journal_list:hover {
  transform: scale(1.1);
}

.nav_right_link_container_logout {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_right_link_container_logout:hover {
  transform: scale(1.1);
}

.nav_right_link_container_register {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_right_link_container_register:hover {
  transform: scale(1.1);
}

.nav_right_link_container_login {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav_right_link_container_login:hover {
  transform: scale(1.1);
}


/* == Slide Down == */

.quick_memory_container {
  position: sticky;
  top: 155px;
  background-color: #81c2c5;
  padding: 5px;
  z-index: 1000;

  /* background-image: linear-gradient(#81c2c5, #F8F0DF); */
}

.slider_div_button {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
}


.slider {
  display: none;
}

.quick_form {
  padding: 20px;
  display: flex;
}

.quick_form_left {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.quick_form_right {
  padding: 10px;
}

.quick_form_right textarea#memory_content {
  border-radius: 5px;
}


/* == Footer == */

.footer_container {
  background-color: #81c2c5;
  height: 40px;
  top: auto;
  bottom: 0;
  width: 100%;
  padding: 5px 0 5px 0;
  margin-top: -10px;
}

.footer_link_container {
  background-color: #79B4B7;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.footer_github {

}

.footer_linkedin {

}

/* == Home Page == */

.home_container {

}

.bg_image {
  margin: -10px;
}

.bg_image img {
  width: 100%;
}

/* == Album List == */

.album_list_body {

}

.album_list_header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

}

.album_list_header {
  padding: 10px;
  margin-left: 30px;
  
}

.album_create_button {
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  margin: 10px;
  margin-left: 30px;

}

.album_create_button:hover {
  transform: scale(1.1);
}

.album_list_card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.album_list_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  margin: 15px;
  border-radius: 7px;
  background-color: rgb(243, 237, 225);
}

.album_list_card:hover {
  transform: scale(1.05);
}

.album_list_container {
  padding: 10px;
}




/* == Album Detail == */

.album_detail_container {

}

.album_header {
  margin-left: 30px;
}

.album_card_container {
  display: grid;
  padding: 20px;
  margin: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 30px;
  column-gap: 10px;
}

.album_card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(243, 237, 225);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
}

.album_card:hover {
  transform: scale(1.05);
}

.album_card_image_container {
  width: 280px;
  height: 280px;
  min-width: 280px;
  min-height: 280px;
  /* background-color: rgb(247, 255, 254); */
  margin: 10px;
  border-radius: 7px;
}

.album_card_image_container img {
  max-height: 100%;
  max-width: 100%;
}

.album_card_title {
  align-self: flex-start;
  margin: -5px 10px;
}

/* .album_card_description {
  border: solid black 1px;
  padding: 10px;
} */

.album_card_buttons {
  padding: 10px 7px;
  align-self: flex-start;
}

.album_card_edit {
  padding: 5px 10px;
  background-color: rgb(245, 240, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.album_card_edit:hover {
  transform: scale(1.1);
}

.journal_list_item {
  margin: 10px;
}

/* == Journal Detail == */

.journal_detail_body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.journal_detail_header_container {

  margin: 10px;
  padding: 10px;
  background-color: rgb(243, 237, 225);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.journal_detail_header_name {
  padding-left: 10px;
}

.journal_detail_new_memory_button {
  padding: 10px;
  background-color: rgb(245, 240, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  width: 90px;
  margin: 0 0 5px 5px;
}

.journal_detail_new_memory_button:hover {
  transform: scale(1.05);
}

.journal_detail_card_container {
  margin: 10px;
  padding: 10px;
  background-color: rgb(243, 237, 225);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.journal_detail_card {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(243, 237, 225);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.journal_detail_card_left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

}

.journal_detail_card_title {
  transition: all .2s ease-in-out;
  padding-left: 10px;
}

.journal_detail_card_title:hover {
    transform: scale(1.03);
    color: #9D9D9D;
}

.journal_detail_card_created_at {
  padding-left: 10px;
}

.journal_detail_card_content {
  padding: 5px;
  margin: 10px;
  font-size: 1.1rem;
  line-height: 1.5em;
}



/* == Memory == */

.memory_show_container {
  border: 2px dotted black;
}

.memory_photo {
  width: 300px;
  height: auto;
}