/* == Base == */

body {
  background-color: #F8F0DF;
  margin: 0px;
  padding: 0px;
  font-family: 'Gentium Book Basic', serif;
}

body select {
  font-family: 'Gentium Book Basic', serif;
}

.content {
  padding: 10px;
  font-family: 'Gentium Book Basic', serif;
}

a {
  text-decoration: none;
  color: #222;

}
/* = Navbar = */
.navbar_body {
  position: sticky;
  top: 0;
}

.nav_container {
  /* border-bottom: solid 1px grey; */
  padding: 10px;
  background-color: #81c2c5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gentium Book Basic', serif;
  height: auto;

}

.nav_container_left {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;

}


.logo_link {
  text-decoration: none;
}

.logo_img {
  font-family: 'Gentium Book Basic', serif;
  text-decoration: none;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}



.nav_left_link_container {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}

.nav_left_link_container_about {
  padding: 10px;

  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.nav_left_link_container_public {
  padding: 10px;

  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.nav_container_right {
  display: flex;
}

.nav_right_link_container {
  padding: 10px;
  margin: 5px;
  display: flex;
  border-radius: 10px;
  gap: 20px;
}

.nav_right_link_container_journal_list {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-left: -25px
}

.nav_right_link_container_logout {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.nav_right_link_container_register {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.nav_right_link_container_login {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}


/* == Slide Down == */

.quick_memory_container {
  position: sticky;
  top: 155px;
  background-color: #81c2c5;
  padding: 5px;

  /* background-image: linear-gradient(#81c2c5, #F8F0DF); */
}

.slider_div_button {
  padding: 10px;
  background-color: #79B4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
}

.slider {
  display: none;
}

.quick_form {
  padding: 20px;
  display: flex;
}

.quick_form_left {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.quick_form_right {
  padding: 10px;
}

.quick_form_right textarea#memory_content {
  border-radius: 5px;
}



/* == Journal == */

.journal_list {
  margin: 10px;
}

/* == Memory == */

.memory_show_container {
  border: 2px dotted black;
}

.memory_photo {
  width: 300px;
  height: auto;
}