{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <div class="about_body">
    <div class="about_container">
      <div class="about_title">
        <h1>about <span class="about_rw">remember when</span></h1>
      </div>
      <div class="about_content">
        <p>When I became a parent, countless people told me to make a journal to jot down little milestones or sweet/funny/crazy memories. I thought I’d remember it all... but I don’t.</p>
        <p><span class="about_rw_small">remember when</span> started out as a solution to that problem - an easily accessible and usable online journal to save those little memories. In addition, you can now create photo albums and upload images to share at a later date as well. So feel free to record and share your little one's when they have grown up.</p>
      </div>
    </div>
  </div>
{% endblock content %}