{% extends 'base.html' %}

{% block title %}{{album.title}}{% endblock title %}

{% block content %}

<div class="album_detail_container">
  <div class="album_header">
    <h2 class="album_header_title">Album - {{album.title}}'</h2>
  <div class="album_detail_top_buttons">
  <a class="new_photo"href="{% url 'photo_create' %}">New Photo</a>
  <a class="delete_album"href="{% url 'album_delete' album.pk %}">Delete Album</a>
  </div>
  </div>
  <div class="album_card_container">
  {% for photo in album.photos.all %}
    
    <div class="album_card">
      
      <a href="{% url 'photo_detail' photo.pk %}">
        <div class="album_card_image_container">
          <img src="{{photo.picture.url}}" alt="{{photo.title}}">
        </div>
      </a>
      <div class="album_card_title">
        <h4>{{photo.title}}</h4>
      </div>
      
      {% comment %} <div class="album_card_description">
        <p>{{photo.description}}</p>
        <p>{{photo.created_at}}</p>
      </div> {% endcomment %}
        
      <div class="album_card_buttons">
          <a href="{% url 'photo_update' photo.pk %}">
            <div class="album_card_edit">
              Edit
            </div>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

  {% comment %} <a href="{% url 'photo_create' %}">Add a new photo</a> {% endcomment %}
{% endblock content %}