{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} Main CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">

  {% comment %} Favicon {% endcomment %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  {% comment %} Google Font {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  {% comment %} Jquery {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <title>Remember When - {% block title %}{% endblock title %}</title>
</head>

<body>
  <nav class="navbar_body">
    <div class="nav_container">
      
      <div class="nav_container_left">
        
        
        <div class="nav_left_link_container">
          <div class="logo">
            <a class="logo_link" href="{% url 'home' %}">
              <img class="logo_img" src="{% static 'images/logo.png' %}" alt="logo">
            </a>
          </div>
          <div class="nav_left_link_container_about">
            <a href="{% url 'about' %}">About</a>
          </div>
          <div class="nav_left_link_container_public">
            <a href="{% url 'public' %}">Public Memories</a>
          </div>
        </div>

      </div>

      <div class="nav_container_right">
        

        {% if user.is_authenticated %}

            <div class="nav_right_link_container">
              <a href="{% url 'journal_list' %}">
                <div class="nav_right_link_container_journal_list">
                  My Journals
                </div>
              </a>
              <a href="{% url 'logout' %}">
                <div class="nav_right_link_container_logout">
                  Logout
                </div>
              </a>
            </div>

        {% else %}

            <div class="nav_right_link_container">
              <a href="{% url 'register' %}">
                <div class="nav_right_link_container_register">
                  Register
                </div>
              </a>
              <a href="{% url 'login' %}">
                <div class="nav_right_link_container_login">
                  Login
                </div>
              </a>
            </div>

        {% endif %}

      </div>

    </div>
  </nav>
    
  <div class="content">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>