{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} Main CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">

  {% comment %} Favicon {% endcomment %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  {% comment %} Google Font {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&display=swap" rel="stylesheet">

  {% comment %} Jquery {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
  $(".slider_div_button").click(function(){
    $(".slider").slideToggle();
  });
});
    $(document).ready(function(){
  $(".slider_clear").click(function(){
    $(".slider").slideUp();
  });
});
  </script>
  <title>Remember When - {% block title %}{% endblock title %}</title>
</head>

<body>
  <nav class="navbar_body">
    <div class="nav_container">
      
      <div class="nav_container_left">
        
        
        <div class="nav_left_link_container">
          <div class="logo">
            <a class="logo_link" href="{% url 'home' %}">
              <img class="logo_img" src="{% static 'images/logo.png' %}" alt="logo">
            </a>
          </div>
          <a href="{% url 'about' %}">
            <div class="nav_left_link_container_about">
              About
            </div>
          </a>

          <a href="{% url 'public' %}">
            <div class="nav_left_link_container_public">
              Public&nbsp;Memories
            </div>
        </a>
        </div>
      </div>

      <div class="nav_container_right">
        

        {% if user.is_authenticated %}

            <div class="nav_right_link_container">
              <a href="{% url 'albums_list' %}">
                <div class="nav_right_link_container_album_list">
                  My&nbsp;Albums
                </div>
              </a>
              <a href="{% url 'journal_list' %}">
                <div class="nav_right_link_container_journal_list">
                  My&nbsp;Journals
                </div>
              </a>
              <a href="{% url 'logout' %}">
                <div class="nav_right_link_container_logout">
                  Logout
                </div>
              </a>
            </div>

        {% else %}

            <div class="nav_right_link_container">
              <a href="{% url 'register' %}">
                <div class="nav_right_link_container_register">
                  Register
                </div>
              </a>
              <a href="{% url 'login' %}">
                <div class="nav_right_link_container_login">
                  Login
                </div>
              </a>
            </div>

        {% endif %}

      </div>

    </div>
  </nav>

  {% if user.is_authenticated %}
  <div class="quick_memory_container">
    <div class="slider_div_button">New Quick Memory</div>
    <div class="slider">
      <form class="quick_form" method="POST" action="{% url 'memory_create' %}">
        {% csrf_token %}
        <div class="quick_form_left">
          <label for="memory_title">Title</label>
          <input type="text" name="title" id="memory_title">
          <label for="memory_journals">Journal</label>
          <select name="journal" id="memory_journals">
          {% for journal in user.journals.all %}
            <option value="{{journal.pk}}">{{journal.name}}</option>
          {% empty %}
            <option>No journals available</option>
          {% endfor %}
          </select>
        </div>

        <div class="quick_form_right">
          <label for="memory_content">Content</label> <br>
          <textarea name="content" id="memory_content" cols="50" rows="2"></textarea>
          <br>
          <label for="memory_is_public">Is Public</label>
          <input type="checkbox" name="is_public" id="memory_is_public">
          <input type="submit" value="Submit"> <input class="slider_clear" type="reset" value="Cancel">
        </div>

      </form>
    </div>
  </div>
  {% else %}

  {% endif %}
  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>
  <footer>
    <div class="footer_container">
      <div class="footer_link_container">
        <div class="footer_links">
          <div class="footer_github">
            <a href="https://github.com/aggarabedian" target="_blank">Github</a>
          </div>
          <div class="footer_linkedin">
            <a href="https://www.linkedin.com/in/abraham-garabedian/" target="_blank">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>