{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="home_container">

  <div class="hero_text">
    <h1>remember when</h1>
    <p class="hero_indent">              A simple, streamlined web app to help you save those little memories that you wished you'd written down... but forgot to. Forget no more - instead, remember when!
    {% comment %} <span class="hero_span">remember&nbsp;when</span> {% endcomment %}
    </p>
  </div>
  <div class="bg_image">
    <img src="../../static/images/bg.jpg" alt="">
  </div>

  
</div>

{% endblock content %}
