{% extends 'base.html' %}

{% block title %}{{journal.name}}{% endblock title %}

{% block content %}

<h1>This will be a show page for a specific journal.</h1>
<a href="{% url 'memory_create' %}">Add A Memory</a>
<br>
<a href="{% url 'journal_update' journal.pk %}">Edit Journal</a>
<br>
<a href="{% url 'journal_delete' journal.pk %}">Delete Journal</a>


  <div class="journal_show_container">
    <h2>{{journal.name}}</h2>
    <h4>{{journal.birthdate}}</h4>
  </div>

  <div class="journal_memory_list_container">
    <ul>
    {% for memory in journal.memories.all %}
      <li>
        <div class="journal_memory_list">
          <a href="{% url 'memory_detail' memory.pk %}"><h4>{{memory.title}}</h4></a>
          <p>{{memory.content}}</p>
          {% if memory.photo %}
          <img class="memory_photo" src="{{memory.photo.url}}" alt="{{memory.title}}">
          {% else %}
          {% endif %}
        </div>
      </li>
    
    
    {% endfor %}
    </ul>
  </div>



{% endblock content %}

