{% extends 'base.html' %}

{% block title %}{{user.username}}'s Journals{% endblock title %}

{% block content %}

<div class="album_list_body">

  <div class="album_list_header_container">
    <div class="album_list_header">
      <h2>{{user.username}}'s Journals</h2>
    </div>
      <a href="{% url 'journal_create' %}">
        <div class="album_create_button">
          New Journal
        </div>
      </a>
  </div>


  <div class="album_list_card_container">
{% for journal in user.journals.all %}
    <div class="album_list_card">
      
      <a href="{% url 'journal_detail' journal.pk %}">
      <div class="album_list_container">
        <h3>{{journal.name}}</h3>
        <p>Birthdate - {{journal.birthdate}}</p>
      </div>
      </a>
    </div>
{% endfor %}
  </div>
</div>

{% comment %} Modal {% endcomment %}
{% comment %} <div class="overlay">
  <div class="modal">
    <div class="modal_content">
    <button>Edit</button>
    </div>
  </div>
</div> {% endcomment %}


{% endblock content %}