{% extends 'base.html' %}

{% block title %}{{memory.title}}{% endblock title %}

{% block content %}

<h1>This will be a show page for a specific memory.</h1>


  <div class="memory_show_container">
    <h2>{{memory.title}}</h2>
    <p>{{memory.content}}</p>
    {% if memory.photo %}
    <img class="memory_photo" src="{{memory.photo.url}}" alt="{{memory.title}}">
    {% else %}
    {% comment %} <img class="memory_photo" src="https://rememberwhen628.s3.us-west-1.amazonaws.com/media/default.png" alt="{{memory.title}}"> {% endcomment %}
    {% endif %}
  </div>
  <a href="{% url 'memory_delete' memory.pk %}">Delete Memory</a>



{% endblock content %}

