{% extends 'base.html' %}

{% block title %}{{journal.name}}{% endblock title %}

{% block content %}

<div class="journal_detail_body">
  <div class="journal_detail_header_container">
    <div class="public_detail_header_name">
      <h2>Have a look at the memories others have shared - and maybe share some of your own!</h2>
    </div>
    {% comment %} <a href="{% url 'memory_create' %}">
      <div class="journal_detail_new_memory_button">
        New Memory
      </div>
    </a>   {% endcomment %}
  </div>
  <div class="journal_detail_card_container">
    {% for memory in memories %}
    <div class="journal_detail_card">
      
      <div class="journal_detail_card_left">
      
        <div class="public_detail_card_title">
          <h3>{{memory.title}}</h3>
        </div>
        <div class="journal_detail_card_created_at">
          <p>{{memory.journal.user.username}}</p>
        </div>
      </div>
      
      <div class="journal_detail_card_content">
        <p>{{memory.content}}</p>
      </div>

    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}