{% extends 'base.html' %}

{% block title %}{{memory.title}}{% endblock title %}

{% block content %}

{% comment %} <div class="journal_detail_card_container"> {% endcomment %}

    <div class="journal_detail_card">
      
      <div class="journal_detail_card_left">
      
        <div class="memory_detail_card_title">
          <h3>{{memory.title}}</h3>
          <p>{{memory.journal}}</p>
        </div>
        <div class="memory_detail_card_created_at">

          <p>{{memory.created_at}}</p>
        </div>
        <a href="{% url 'memory_update' memory.pk %}">
        <div class="memory_edit_button">
          Edit
        </div>
        </a>
      </div>
      
      <div class="journal_detail_card_content">
        <p>{{memory.content}}</p>
      </div>

    </div>

  {% comment %} </div> {% endcomment %}

{% endblock content %}

